@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	background:url(images/packetx_p01.gif) center top;
	font-size:12px;
}
body:after {
    content: url(images/packetx_p08.gif) url(images/packetx_p09.gif) url(images/packetx_p10.gif) url(images/packetx_p11.gif) url(images/packetx_p12.gif) url(images/packetx_p13.gif);
	display: none;
}

#layout{
	width:1000px;
	margin:0 auto;
}
.topbar{
	height:6px;
	width:100%;
	background-color:#0096dc;
	position:absolute;
	z-index:-1;
}
.navout{
	position:absolute;
	margin:-185px 0 0 248px;
	width:750px;
}
.navout div{
	float:left;
}
.nav{
	width:125px;
	height:114px;
}
.n01a{
	background:url(images/packetx_p08.gif) no-repeat;
}
.n01{
	background:url(images/packetx_p02.png) no-repeat;
}
.n01:hover{
	background:url(images/packetx_p08.gif) no-repeat;
}
.n02a{
	background:url(images/packetx_p09.gif) no-repeat;
}
.n02{
	background:url(images/packetx_p03.png) no-repeat;
}
.n02:hover{
	background:url(images/packetx_p09.gif) no-repeat;
}
.n03a{
	background:url(images/packetx_p10.gif) no-repeat;
}
.n03{
	background:url(images/packetx_p04.png) no-repeat;
}
.n03:hover{
	background:url(images/packetx_p10.gif) no-repeat;
}
.n04a{
	background:url(images/packetx_p11.gif) no-repeat;
}
.n04{
	background:url(images/packetx_p05.png) no-repeat;
}
.n04:hover{
	background:url(images/packetx_p11.gif) no-repeat;
}
.n05a{
	background:url(images/packetx_p12.gif) no-repeat;
}
.n05{
	background:url(images/packetx_p06.png) no-repeat;
}
.n05:hover{
	background:url(images/packetx_p12.gif) no-repeat;
}
.n06a{
	background:url(images/packetx_p13.gif) no-repeat;
}
.n06{
	background:url(images/packetx_p07.png) no-repeat;
}
.n06:hover{
	background:url(images/packetx_p13.gif) no-repeat;
}
.kvout{
	width:100%;
	margin-top:142px;
	position:absolute;
	background:url(images/packetx_p15.png) no-repeat center;
	z-index:-3;
}
.kvtxt{
	position:absolute;
	left:50%;
	margin:65px 0 0 -285px;
	width:500px;
}
.kvpic{
	height:352px;
	width:1000px;
	margin:23px auto 0 auto;
}
.newslist{
	margin:290px 5px 0 5px;
}
.newslist div{
	float:left;
}
.news{
	width:300px;
	margin:25px 15px;
}
.news h3{
	margin:0;
	padding:5px 0 10px 0;
	font-size:15px;
}
.news h3 a{
	color:#0096dc;
	text-decoration:none;
}
.news h3 a:hover{
	color: #2B8DC8;
	text-decoration:none;
}
.newspic{
	float:left;
	margin:4px 0 0 1px ;
	border:1px solid #EEE;
}
.newspic img{
	width:150px;
}
.newscont{
	color:#4f4f4f;
	width:130px;
	margin-left:5px;
	line-height:20px;
	font-size:11px;
	letter-spacing:0;
	-webkit-transform : scale(0.9);
	-o-transform : scale(1);
	display: inline-block;
	height:78px;
}
.garybt{
	background-color: #C9C9C9;
	font-size:9px;
	margin:2px 0 0 90px;
	padding:1px 2px 3px 2px;
	width:40px;
	text-align:center;
	-webkit-transform : scale(0.8);
	-o-transform : scale(1);
	display:block;
}
.garybt:hover{
	background-color: #999;
}
.garybt a{
	color:#FFF;
	text-decoration: none;
}
#footer01{
	background:url(images/packetx_p20.gif) repeat-x #0096dc;
	width:100%;
	padding:25px 0 30px 0;
	margin-top:480px;
}
#footer01 div{
	width:1000px;
	margin:0 auto;
	font-size:12px;
	color:#FFF;
}
#footer{
	background:url(images/packetx_p20.gif) repeat-x #0096dc;
	width:100%;
	padding:25px 0 30px 0;
	margin-top:50px;
}
#footer div{
	width:1000px;
	margin:0 auto;
	font-size:12px;
	color:#FFF;
}

.article{
	color:#666;
	font-size:12px;
	line-height:22px;
}
.article p{
	margin:12px 0;
}
.article01{
	font-size:13px;
	line-height:26px;
	margin:20px 0 ;
	padding-bottom:20px;
	border-bottom:1px solid #CCC;
}
.dark{
	color:#000;
	font-weight:bold;
}
.blue{
	color:#0096dc;
}
.article h3{
	color:#0096dc;
	font-size:15px;
	font-weight:bold;
	padding:20px 0 10px 0;
}
.article02{
	width:715px;
	padding-bottom:15px;
}
.articlepic{
	position:absolute;
	margin:-220px 0 0 735px ;
}
.article03{
	width:700px;
	margin:0 0 0 280px;
}
.p2{
	margin:-196px 0 0 0;
}
.p3{
	margin-top:-350px;
}
.article04{
	padding-top:15px;
	width:715px;
}
.contact{
	margin-top:30px;
}
.contxt{
	width:380px;
	text-align:left;
	font-size:13px;
	line-height:25px;
	color:#666;
	height:350px;
}
.map{
	position:absolute;
	margin:-350px 0 0 420px;
}
.contxt h3{
	margin:0 0 20px 0;
	padding:0;
	font-size:15px;
	color:#0096dc;
}
.contxt p{
	margin-bottom:20px;
}
.contxt a{
	text-decoration:none;
	color:#666;
}
.contxt a:hover{
	color:#0096dc;
}
.propic1{
	position:absolute;
	margin:10px 0 0 0;
}
.procont1{
	font-size:13px;
	line-height:26px;
	padding:48px 0 8px 280px;
	border-bottom:1px solid #CCC;
	color:#0096dc;
	font-size:15px;
	font-weight:bold;
}
.propic2{
	position:absolute;
	margin:15px 0 0 500px ;
}
.propic3{
	position:absolute;
	margin:-20px 0 0 500px ;
}

.procont2{
	width:480px;
	margin:0 0 0 0;
}
.wht13{
	color:#FFF;
	font-weight:bold;
	font-size:13px;
	padding:5px;
}
.pro1tab{
	margin-top:20px;
}
.pro1tab table tr td{
	border-bottom:1px solid #E4E4E4;
}